body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("../../img/ChamonixClouds.jpg");
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

.signPanel {
    background-color: rgba(238, 238, 238, 0.75);
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 10px;
    transition: box-shadow 0.5s, background-color 0.5s;
}

.signPanel:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    background-color: rgba(238, 238, 238, 1);
}

.signHeading {
    text-align: center;
    margin-bottom: 40px;
}

.signPanel .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.signPanel .form-control:focus {
    z-index: 2;
}
